<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    
    <!-- LoginServlet Configuration -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- BagiKelasServlet Configuration -->
    <servlet>
        <servlet-name>BagiKelasServlet</servlet-name>
        <servlet-class>servlets.BagiKelasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BagiKelasServlet</servlet-name>
        <url-pattern>/BagiKelasServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DashboardKepsekServlet</servlet-name>
        <servlet-class>servlets.DashboardKepsekServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardKepsekServlet</servlet-name>
        <url-pattern>/DashboardKepsek</url-pattern>
    </servlet-mapping>



    
</web-app>
